<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "index_styles", title: "Alta producto"}) %>
<link rel="stylesheet" href="/css/alta-editar-producto.css">
<body>

    <%- include("./partials/header.ejs") %>  
      
    <%- include("./partials/header2.ejs") %>
<main>
    <h3>Carga tus productos</h3>
    <article class="contenedor-alta">
        <form action="/productos/alta" method="POST" enctype="multipart/form-data">

            <section class="flex-linea">
                <div class="flex-columna">
                    <label for="nombre_producto">Nombre del producto</label>
                    <input type="text" id="nombre_producto" name="nombre_producto" placeholder="Ej: Dog chow para perros pequeños">
                </div>

                <div class="flex-columna">
                    <label for="precio_producto">Precio del producto</label>
                    <input type="number" id="precio_producto" name="precio_producto" placeholder="Ej: 50000">
                </div>
               
            </section>

            <section class="flex-linea">
                <div class="flex-columna">
                    <label for="mascota">Selecciona una marca:</label>
                    <select name="marca_id" id="">
                        <% marcas.forEach(marca => { %> 
                            <option value="<%= marca.id %>"><%= marca.marca %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="flex-columna">
                    <label for="mascota">El productos es para:</label>
                    <select name="tipo_mascota_id" id="mascota">
                        <% tipos.forEach(tipo => { %> 
                            <option value="<%= tipo.id %>"><%= tipo.mascota %></option>
                        <% }) %>
                    </select>
                </div>
            </section>

            <section class="flex-linea">
                <div class="flex-columna">    
                    <label for="categoria">Selecciona una categoria:</label>
                    <select name="categoria" id="categoria">
                        <option value="">Selecciona una categoría</option>
                        <option value="alimento">Alimento</option>
                        <option value="juguetes">Juguetes</option>
                        <option value="accesorios">Accesorios</option>
                        <option value="higiene">higiene</option>
                    </select>
                </div>
                <div class="flex-columna">
                    <label for="descuento"> ¿El producto tiene descuento?</label>
                    <select name="decuento" id="descuento">
                        <option value="">Selecciona una opción</option>
                        <option value="si">Si</option>
                        <option value="no">No</option>

                    </select>
                </div>
            </section>

            <section class="flex-linea">
                <div class="flex-columna">
                    <!-- Seguramente debamos incorporar una condición según la categoría
                    selecciona porque cada producto tiene sus propias características-->
                    <label for="peso_producto">Ingresa el peso</label>
                    <input type="number" id="peso_producto" name="peso_producto" placeholder="Ej: 34">
                </div>
                 <div class="flex-columna">
                    <label fo="color_producto">Ingrese el color</label>
                    <input type="text" id="color_producto" name="color_producto" placeholder=" Ej: Negro">
                 </div>
            </section>

            <label for="descripcion">Descripción del producto</label>
            <textarea name="descripcion" id="descripcion" placeholder="Ingresa la información que describa lo mejor posible el producto"></textarea>

            <section class="flex-linea">
                <label for="imagen-producto">Imagen de producto:</label>
                <input type="file" name="imagen_producto">
            </section>

            
            <button type="submit">Guardar producto</button>
        </form>

    </article>
    
</main>

<%- include("./partials/footer.ejs") %>
</body>
</html>