<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "carrito2", title: "Carrito de compras"}) %>
<body>
    
    <%- include("./partials/header.ejs") %>
    
    <%- include("./partials/header2.ejs") %>

<main>
    <div class="all">
        <section class="contenedor-producto">
            <h1 class="titulo">Carrito de compra:</h1>
            <div class="contenedor1">
                <img src="\img\productos\Cañita-Alambre-Resistente-Largo.jpg" alt="item-foto" class="imagen">
                 <div class="texto">
                    <h2 class="subtitulo">Titulo de producto</h2>
                    <h3 class="subtitulo2">Descripcion de producto: ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo</h3>
                    <h2 class="precio">$19.99</h2>
                </div>
            <div class="cantidad">
                <form action="/users/carrito2" method="get">   
                    <select name="cantidad">
                        <option value="valor1">1</option>
                        <option value="valor2">2</option>
                        <option value="valor3">3</option>
                    </select>
                    <button type="submit">Agregar</button>
                    <button class="eliminar-btn" type="reset">Eliminar</button>
                </form>
            </div>
            </div>
        </section>
        <section class="contenedor-proceder-pago">
            <div class="textos2">
                <h4>Subtotal:</h2>
                <h5>Cantidad:</h2>
                <h2>Total:</h2>
            </div>
            <div class="botonDePago">
                <form action="/users/carrito2" method="get">   
                    <button type="submit" class="Boton-pago">Proceder a pagar</button>
                </form>
            </div>
        </section>
    </div>

    <section class="section-productos-descuentos">
    <h2>Productos con descuentos</h2>
    <div class="div-section-productos-descuentos">
        <% for(let accesorio of productosPerroConDescuento) { %>

            <article class="articulo-productos-descuentos">
                <a href="/productos/detalle">
                    <div class="contenedor_imagen">
                        <img class="img-productos-descuentos" src="/img/productos/<%= accesorio.image %>" alt="imagen_producto">
                    </div>
                </a>
                <div class="descripcion-productos-descuentos">
                    <h4><%= accesorio.name %></h4>
                    <p class="descripcion"><%= accesorio.description %></p>
                    <p class="precio-tachado">$ <%= accesorio.price %></p>
                    <p class="descuento">20% off</p>
                    <p class="precio"><%= accesorio.price*0.8 %></p>
                    <div class="div-boton-comprar">
                        <button class="boton-comprar" type="submit">Agregar</button>
                    </div>
                </div>
            </article>

        <% } %>

    </div>
</main>

    <%- include("./partials/footer.ejs") %>
    
</body>