<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs", {cssSheet: "carrito2", title: "Carrito de compras"}) %>
    <link rel="stylesheet" href="/css/header-footer.css">

<body>
    
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/header2.ejs") %>

    <main>
        <div class="all">
            <section class="contenedor-producto">
                <h1 class="titulo">Carrito de compra:</h1>
                <div class="contenedor1">
                    <img src="\img\productos\Cañita-Alambre-Resistente-Largo.jpg" alt="item-foto" class="imagen">
                    <div class="texto">
                        <h2 class="subtitulo">Titulo de producto</h2>
                        <h3 class="subtitulo2">Descripcion de producto: ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo</h3>
                        <h2 class="precio">$19.99</h2>
                    </div>
                <div class="cantidad">
                    <form action="/users/carrito2" method="get">   
                        <select name="cantidad">
                            <option value="valor1">1</option>
                            <option value="valor2">2</option>
                            <option value="valor3">3</option>
                        </select>
                        <button class="btn" type="submit">Agregar</button>
                        <button class="eliminar-btn" type="reset">Eliminar</button>
                    </form>
                </div>
                </div>
            </section>
            <section class="contenedor-proceder-pago">
                <div class="textos2">
                    <h4>Subtotal:</h2>
                    <h5>Cantidad:</h2>
                    <h2>Total:</h2>
                </div>
                    <div class="botonDePago">
                        <form action="/users/carrito2" method="get">   
                            <button type="submit" class="btn">Proceder a pagar</button>
                        </form>
                    </div>
            </section>
        </div>
    
        <!--- Seccion productos con descuentos -->
        <section class="section-productos-descuentos">
            <div class="swiffy-slider slider-item-show6 slider-item-show2-sm slider-item-reveal slider-item-snapstart slider-nav-dark slider-indicators-round slider-indicators-dark">
                <h2>Productos con descuentos</h2>
                <div class="div-section-productos-descuentos">
                    <ul class="slider-container">
                        <% productosConDescuentoGato.forEach(producto => {%>
                            <article class="articulo-productos-descuentos">
                                <a href="/productos/detalle/<%= producto.id %>">
                                    <div class="contenedor_imagen">
                                        <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                    </div>
                                </a>
                                <div class="div-card">
                                    <div class="texto_nombre_arriba"> <!--- Limita la altura del box-->
                                        <h4><%= producto.nombre %></h4>
                                    </div>
                                        
                                    <div class="texto_descripcion_arriba">
                                        <p class="descripcion"><%= producto.descripcion %></p>
                                    </div>
                                    <div class="div-precios">
                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                        <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                        <p class="descuento">20% OFF</p>
                                    </div>
                                    <div class="div-boton-comprar">
                                        <button class="boton-comprar" type="submit">Agregar</button>
                                    </div>
                                </div>
                            </article>
                        <%})%>
                    </ul>
                
                    <button type="button" class="slider-nav"></button>
                    <button type="button" class="slider-nav slider-nav-next"></button>
                
                    <ul class="slider-indicators">
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class="active"></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>



    <%- include("./partials/footer.ejs") %>
    
</body>