<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "carrito2", title: "Carrito de compras"}) %>
    <link rel="stylesheet" href="/css/index_styles.css">
    <link rel="stylesheet" href="/css/header-footer.css">
<body>
    
    <%- include("./partials/header.ejs") %>
    
    <%- include("./partials/header2.ejs") %>

<main>
    <div class="all">
        <section class="contenedor-producto">
            <h1 class="titulo">Carrito de compra:</h1>
            <div class="contenedor1">
                <img src="\img\productos\Cañita-Alambre-Resistente-Largo.jpg" alt="item-foto" class="imagen">
                 <div class="texto">
                    <h2 class="subtitulo">Titulo de producto</h2>
                    <h3 class="subtitulo2">Descripcion de producto: ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo ejemplo</h3>
                    <h2 class="precio">$19.99</h2>
                </div>
            <div class="cantidad">
                <form action="/users/carrito2" method="get">   
                    <select name="cantidad">
                        <option value="valor1">1</option>
                        <option value="valor2">2</option>
                        <option value="valor3">3</option>
                    </select>
                    <button type="submit">Agregar</button>
                    <button class="eliminar-btn" type="reset">Eliminar</button>
                </form>
            </div>
            </div>
        </section>
        <section class="contenedor-proceder-pago">
            <div class="textos2">
                <h4>Subtotal:</h2>
                <h5>Cantidad:</h2>
                <h2>Total:</h2>
            </div>
                <div class="botonDePago">
                    <form action="/users/carrito2" method="get">   
                        <button type="submit" class="Boton-pago">Proceder a pagar</button>
                    </form>
                </div>
        </section>
    </div>

    <section class="section-productos-descuentos">
        <h2>Productos con descuentos</h2>
        <div class="div-section-productos-descuentos">
            <% productosConDescuentoGato.forEach(producto => {%>
                <article class="articulo-productos-descuentos">
                    <a href="/productos/detalle/<%= producto.id %>">
                        <div class="contenedor_imagen">
                            <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                        </div>
                    </a>
                    <div>
                        <div class="texto_nombre_arriba"> <!--- Limita la altura del box-->
                            <h4><%= producto.nombre %></h4>
                        </div>
                        
                        <div class="texto_descripcion_arriba">
                            <p class="descripcion"><%= producto.descripcion %></p>
                        </div>
                        <p class="precio-tachado">$ <%= producto.precio %></p>
                        <p class="descuento">20% off</p>
                        <p class="precio"><%= Number((producto.precio*0.8).toFixed(2)) %></p>
                        <div class="div-boton-comprar">
                            <button class="boton-comprar" type="submit">Agregar</button>
                        </div>
                    </div>
                </article>
            <%})%>
        </div>
    </section>
</main>

    <%- include("./partials/footer.ejs") %>
    
</body>