<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "detalles-del-producto", title: "Detalles del Producto"}) %>
<body>

    <%- include("./partials/header.ejs") %>
    
    <%- include("./partials/header2.ejs") %>

    <main>
      
        <article class="contenedor_mobile">
            <!--Bread cumb -->
            <p>Acá / va / la / ruta</p>

             <!--imagen -->
            <div class="contenedor_imagen_mobile">
                <img src="/img/productos/<%= unProducto.image %>" alt="Producto Comida" class="imagen_producto_mobile">
            </div>
            <!--detalle de producto -->
            <section class=" detalle">
                <p class="nombre"> <%= unProducto.name %></p>
                <p class="precio">$ <%= unProducto.price %></p>

            </section>

            <!-- Selector unidades -->
            <form action="/users/carrito" method="get">

                <select name="cantidad">
                    <option value="valor">Seleccionar cantidad</option>
                    <option value="valor">1</option>
                    <option value="valor2">2</option>
                    <option value="valor3">3</option>
                </select>
            </form>

            <!--CTA princcipal -->
            <button type="submit">Agregar al carrito</button>

            <!-- CTA edición de producto -->
            
            <a href="/productos/editar/<%= unProducto.id %>" class="boton_editar">
               <p class="texto_boton">Editar producto</p>
            </a>
            <!-- CTA eliminar producto -->
            <form action="/productos/eliminar/<%= unProducto.id %>?_method=DELETE" method="POST">
                <button type="submit" class="action-button delete">Eliminar producto</button>
            </form>

            <hr>

            <p>Descripción de producto</p>
            <p class="descripcion-producto"> <%= unProducto.description %></p>
        </article>



    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>