<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "detalles-del-producto", title: "Detalles del Producto"}) %>
<body>

    <%- include("./partials/header.ejs") %>
    
    <%- include("./partials/header2.ejs") %>

    <main>
      
        <article class="contenedor_mobile">
            <!--Bread cumb -->
            <p>Acá / va / la / ruta</p>

             <!--imagen -->
            <div class="contenedor_imagen_mobile">
                <img src="/img/productos/<%= unProducto.image %>" alt="Producto Comida" class="imagen_producto_mobile">
            </div>
            <!--detalle de producto -->
            <section class=" detalle">
                <p class="titulo_nombre"> <%= unProducto.name %></p>
                <p class="precio">$ <%= unProducto.price %></p>

            </section>

            <!-- Selector unidades -->
            <form action="/users/carrito" method="get">

                <select name="cantidad">
                    <option value="valor">Seleccionar cantidad</option>
                    <option value="valor">1</option>
                    <option value="valor2">2</option>
                    <option value="valor3">3</option>
                </select>
            </form>

            <!--CTA princcipal -->
            <button type="submit">Agregar al carrito</button>

            <!-- CTA edición de producto -->
            <% if(userALoguearse && userALoguearse.category == "Administrador"){ %>
                <a href="/productos/editar/<%= producto.id %>" class="boton_editar">
                    <p class="texto_boton">Editar producto</p>
                 </a>
                 <!-- CTA eliminar producto -->
                 <form action="/productos/eliminar/<%= producto.id %>?_method=DELETE" method="POST">
                     <button type="submit" class="boton_eliminar">Eliminar producto</button>
            <% } %>
            
            </form>

            <hr>

            <p class="titulo_descripción">Descripción de producto</p>
            <p class="descripcion-producto"> <%= unProducto.description %></p>


            <!--- Reel de productos -->
            <hr>
            <p>Productos relacionados</p>
             <!--- Sección productos para perro-->
            <div class="div-section-productos-descuentos">
                <% productosRecomendados.forEach(producto => {%>
                    <article class="articulo-productos-descuentos">
                        <a href="/productos/detalle/<%= producto.id %>">
                            <div class="contenedor_imagen">
                                <img class="img-productos-descuentos" src="/img/productos/<%= producto.image %>" alt="imagen_producto">
                            </div>
                        </a>
                        <div>
                            <div class="texto_nombre_arriba"> <!--- Limita la altura del box-->
                                <h4><%= producto.name %></h4>
                            </div>
                            
                            <div class="texto_descripcion_arriba">
                                <p class="descripcion"><%= producto.description %></p>
                            </div>
                            <p class="precio">$ <%= producto.price %></p>
                            <div class="div-boton-comprar">
                                <button class="boton-comprar" type="submit">Agregar</button>
                            </div>
                        </div>

                    </article>
                    <%})%>
               
            </div>
        
        </article>



    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>