<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs", {cssSheet: "detalle", title: "Detalles del Producto"}) %>
    <link rel="stylesheet" href="/css/header-footer.css">

<body id="body">

    <%- include("./partials/header.ejs") %>
    <%- include("./partials/header2.ejs") %>

    <main>
      
        <article class="contenedor_mobile">
            <!-- Ruta -->
            <% if(producto.tipo_mascota_id == 2) { %> <!-- si el tipo de mascota es perro -->
                <p class="ruta-barras">
                    <a class="ruta" href="/">localhost:3100</a> > <a class="ruta" href="/productos">productos</a> > <a class="ruta" href="/productos/perro">perro</a> > 
                    <% if(producto.categorias && producto.categorias[0]) { %>
                        <% if(producto.categorias[0].categoria == "comida"){ %>
                            <a class="ruta" href="/productos/perro/comida">comida</a> > <a class="ruta" href="/productos/perro/comida/<%= producto.id %>"><%= producto.id %></a>
                        <% } else if(producto.categorias[0].categoria == "accesorio"){ %>
                            <a class="ruta" href="/productos/perro/accesorios">accesorios</a> > <a class="ruta" href="/productos/perro/accesorios/<%= producto.id %>"><%= producto.id %></a>
                        <% } else if(producto.categorias[0].categoria == "higiene"){ %>
                            <a class="ruta" href="/productos/perro/higiene">higiene</a> > <a class="ruta" href="/productos/perro/higiene/<%= producto.id %>"><%= producto.id %></a>
                        <% } else if(producto.categorias[0].categoria == "juguete"){ %>
                            <a class="ruta" href="/productos/perro/juguetes">juguetes</a> > <a class="ruta" href="/productos/perro/juguetes/<%= producto.id %>"><%= producto.id %></a>
                        <% } %>
                    <% } else { %>
                        <a class="ruta"><%= producto.id %></a>
                    <% } %>

                </p>
            <% } else { %> <!-- si el tipo de mascota es gato -->
                <p class="ruta-barras">
                    <a class="ruta" href="/">localhost:3100</a> > <a class="ruta" href="/productos">productos</a> > <a class="ruta" href="/productos/gato">gato</a> > 
                    <% if(producto.categorias && producto.categorias[0]) { %>
                        <% if(producto.categorias[0].categoria == "comida"){ %>
                            <a class="ruta" href="/productos/gato/comida">comida</a> > <a class="ruta" href="/productos/gato/comida/<%= producto.id %>"><%= producto.id %></a>
                        <% } else if(producto.categorias[0].categoria == "accesorio"){ %>
                            <a class="ruta" href="/productos/gato/accesorios">accesorios</a> > <a class="ruta" href="/productos/gato/accesorios/<%= producto.id %>"><%= producto.id %></a>
                        <% } else if(producto.categorias[0].categoria == "higiene"){ %>
                            <a class="ruta" href="/productos/gato/higiene">higiene</a> > <a class="ruta" href="/productos/gato/higiene/<%= producto.id %>"><%= producto.id %></a>
                        <% } else if(producto.categorias[0].categoria == "juguete"){ %>
                            <a class="ruta" href="/productos/gato/juguetes">juguetes</a> > <a class="ruta" href="/productos/gato/juguetes/<%= producto.id %>"><%= producto.id %></a>
                        <% } %>
                    <% } else { %>
                        <a class="ruta"><%= producto.id %></a>
                    <% } %>
                </p>
            <% } %>

             <!-- Imagen -->
            <div class="contenedor_imagen_mobile">
                <img src="/img/productos/<%= producto.imagen %>" alt="Producto Comida" class="imagen_producto_mobile">
            </div>
            <!-- Detalle de producto -->
            <section class=" detalle">
                <!-- para saber el contenido de la etiqueta -->
                <% if(producto.categorias && producto.categorias[0]) { %>
                    <% if(producto.categorias[0].categoria == "comida"){ %>
                        <p class="etiqueta-comida-bicho"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                    <% } else if(producto.categorias[0].categoria == "accesorio"){ %>
                        <p class="etiqueta-accesorio-bicho"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                    <% } else if(producto.categorias[0].categoria == "higiene"){ %>
                        <p class="etiqueta-higiene-bicho"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                    <% } else if(producto.categorias[0].categoria == "juguete"){ %>
                        <p class="etiqueta-juguete-bicho"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                    <% } %>
                <% } %>

                <h2 class="titulo_nombre-detalle"> <%= producto.nombre %></h2>
                <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                    <div class="div-dos">
                        <p class="precio-normal">Precio normal</p>
                        <p class="precio-tachado-detalle">$ <%= producto.precio %></p>
                        <p class="descuento-detalle"><%= producto.descuentos[0].descripcion %></p>
                    </div>
                    <div class="div-tres">
                        <p class="precio-oferta">Precio oferta</p>
                        <p class="precio-detalle">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                        <p class="descuento-precio">20% OFF</p>
                    </div>
                    
                <% } else { %>
                    <p class="precio-detalle">$ <%= producto.precio %></p>
                <% } %>
            </section>

            <!-- Selector unidades -->
            <form action="/users/carrito" method="get">
                <select name="cantidad">
                    <option value="valor">Seleccionar cantidad</option>
                    <option value="valor">1</option>
                    <option value="valor2">2</option>
                    <option value="valor3">3</option>
                </select>
            </form>

            <!-- Botones -->
            <!-- Boton Comprar -->
            <a href="/users/carrito2">
                <button class="boton_comprar" type="submit" data-id="<%= producto.id %>">Comprar ahora</button>
            </a>

            <!-- Boton Agregar al carrito -->
            <button class="boton_agregar" type="submit" data-id="<%= producto.id %>">Agregar al carrito</button>

            <!-- Botones admin -->
            <% if(userALoguearse && userALoguearse.permiso_id == 1){ %>
                <div class="botones-admin">
                    <!-- Boton Editar producto -->
                    <div style="width: 49.5%;">
                        <a class="editar" href="/productos/editar/<%= producto.id %>">
                            <button class="boton_editar" style="width: 100%;">Editar producto</button>
                        </a>
                    </div>
                    <!-- Boton Eliminar producto -->
                    <div style="width: 49.5%;">
                        <form action="/productos/eliminar/<%= producto.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="boton_eliminar" style="width: 100%;">Eliminar producto</button>
                        </form>
                    </div>
                </div>
            <% } %>
            
            <hr class="linea">

            <p class="titulo_descripción">Descripción de producto</p>
            <p class="descripcion-detalle"> <%= producto.descripcion %></p>

        </article>

        <!-- seccion q muestra los productos en base al tipo de mascota q llega por id -->
        <% if(producto.categorias && producto.categorias[0]) { %>
            <section class="section-productos-descuentos">
                <div class="swiffy-slider slider-item-show6 slider-item-show2-sm slider-item-reveal slider-item-snapstart slider-nav-dark slider-indicators-round slider-indicators-dark">
                    <h2 class="titulo-section-productos-descuentos">Productos relacionados</h2>
                    <div class="div-section-productos-descuentos">
                        <ul class="slider-container">
                            <% if(producto.tipo_mascota_id == 2) { %> <!-- si el tipo de mascota es perro -->
                                <% if(producto.categorias[0].id == 1) { %> <!-- y si la categoria es comida -->
                                    <% comidaPerro.forEach(producto => { %>
                                        <article class="articulo-productos-descuentos">
                                            <p class="etiqueta-comida-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                            <a href="/productos/perro/comida/<%= producto.id %>">
                                                <div class="contenedor_imagen">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </div>
                                            </a>
                                            <div class="div-card">
                                                <div class="texto_nombre_arriba">
                                                    <h4><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_descripcion_arriba">
                                                    <p class="descripcion"><%= producto.descripcion %></p>
                                                </div>
                                                <% if(producto.descuentos[0].id == 2) { %> <!-- y si tiene descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                                        <p class="descuento">20% OFF</p>
                                                    </div>
                                                <%} else { %> <!-- si no tienen descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado" style="color: white;">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= producto.precio %></p>
                                                        <p class="descuento" style="color: white;">20% OFF</p>
                                                    </div>
                                                <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                            </div>
                                        </article>
                                    <% }) %>
                                <% } else if(producto.categorias[0].id == 2) { %> <!-- y si la categoria es accesorios -->
                                    <% accesorioPerro.forEach(producto => { %>
                                        <article class="articulo-productos-descuentos">
                                            <p class="etiqueta-accesorio-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                            <a href="/productos/perro/accesorios/<%= producto.id %>">
                                                <div class="contenedor_imagen">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </div>
                                            </a>
                                            <div class="div-card">
                                                <div class="texto_nombre_arriba">
                                                    <h4><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_descripcion_arriba">
                                                    <p class="descripcion"><%= producto.descripcion %></p>
                                                </div>
                                                <% if(producto.descuentos[0].id == 2) { %> <!-- y si tiene descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                                        <p class="descuento">20% OFF</p>
                                                    </div>
                                                <%} else { %> <!-- si no tienen descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado" style="color: white;">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= producto.precio %></p>
                                                        <p class="descuento" style="color: white;">20% OFF</p>
                                                    </div>
                                                <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                            </div>
                                        </article>
                                    <% }) %>
                                <% } else if(producto.categorias[0].id == 3) { %> <!-- y si la categoria es higiene -->
                                    <% higienePerro.forEach(producto => { %>
                                        <article class="articulo-productos-descuentos">
                                            <p class="etiqueta-higiene-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                            <a href="/productos/perro/higiene/<%= producto.id %>">
                                                <div class="contenedor_imagen">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </div>
                                            </a>
                                            <div class="div-card">
                                                <div class="texto_nombre_arriba">
                                                    <h4><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_descripcion_arriba">
                                                    <p class="descripcion"><%= producto.descripcion %></p>
                                                </div>
                                                <% if(producto.descuentos[0].id == 2) { %> <!-- y si tiene descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                                        <p class="descuento">20% OFF</p>
                                                    </div>
                                                <%} else { %> <!-- si no tienen descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado" style="color: white;">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= producto.precio %></p>
                                                        <p class="descuento" style="color: white;">20% OFF</p>
                                                    </div>
                                                <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                            </div>
                                        </article>
                                    <% }) %>
                                <% } else if(producto.categorias[0].id == 4) { %> <!-- y si la categoria es juguetes -->
                                    <% juguetePerro.forEach(producto => { %>
                                        <article class="articulo-productos-descuentos">
                                            <p class="etiqueta-juguete-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                            <a href="/productos/perro/juguetes/<%= producto.id %>">
                                                <div class="contenedor_imagen">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </div>
                                            </a>
                                            <div class="div-card">
                                                <div class="texto_nombre_arriba">
                                                    <h4><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_descripcion_arriba">
                                                <p class="descripcion"><%= producto.descripcion %></p>
                                                </div>
                                                <% if(producto.descuentos[0].id == 2) { %> <!-- y si tiene descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                                        <p class="descuento">20% OFF</p>
                                                    </div>
                                                <%} else { %> <!-- si no tienen descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado" style="color: white;">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= producto.precio %></p>
                                                        <p class="descuento" style="color: white;">20% OFF</p>
                                                    </div>
                                                <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                            </div>
                                        </article>
                                    <% }) %>
                                <% } %>  
                            <% } else { %> <!-- si el tipo de mascota es Gato -->
                                <% if(producto.categorias[0].id == 1) { %> <!-- y si la categoria es comida -->
                                    <% comidaGato.forEach(producto => { %>
                                        <article class="articulo-productos-descuentos">
                                            <p class="etiqueta-comida-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                            <a href="/productos/gato/comida/<%= producto.id %>">
                                                <div class="contenedor_imagen">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </div>
                                            </a>
                                            <div class="div-card">
                                                <div class="texto_nombre_arriba">
                                                    <h4><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_descripcion_arriba">
                                                    <p class="descripcion"><%= producto.descripcion %></p>
                                                </div>
                                                <% if(producto.descuentos[0].id == 2) { %> <!-- y si tiene descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                                        <p class="descuento">20% OFF</p>
                                                    </div>
                                                <%} else { %> <!-- si no tienen descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado" style="color: white;">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= producto.precio %></p>
                                                        <p class="descuento" style="color: white;">20% OFF</p>
                                                    </div>
                                                <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                            </div>
                                        </article>
                                    <% }) %>
                                <% } else if(producto.categorias[0].id == 2) { %> <!-- y si la categoria es accesorios -->
                                    <% accesorioGato.forEach(producto => { %>
                                        <article class="articulo-productos-descuentos">
                                            <p class="etiqueta-accesorio-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                            <a href="/productos/gato/accesorios/<%= producto.id %>">
                                                <div class="contenedor_imagen">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </div>
                                            </a>
                                            <div class="div-card">
                                                <div class="texto_nombre_arriba">
                                                    <h4><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_descripcion_arriba">
                                                    <p class="descripcion"><%= producto.descripcion %></p>
                                                </div>
                                                <% if(producto.descuentos[0].id == 2) { %> <!-- y si tiene descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                                        <p class="descuento">20% OFF</p>
                                                    </div>
                                                <%} else { %> <!-- si no tienen descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado" style="color: white;">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= producto.precio %></p>
                                                        <p class="descuento" style="color: white;">20% OFF</p>
                                                    </div>
                                                <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                            </div>
                                        </article>
                                    <% }) %>
                                <% } else if(producto.categorias[0].id == 3) { %> <!-- y si la categoria es higiene -->
                                    <% higieneGato.forEach(producto => { %>
                                        <article class="articulo-productos-descuentos">
                                            <p class="etiqueta-higiene-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                            <a href="/productos/gato/higiene/<%= producto.id %>">
                                                <div class="contenedor_imagen">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </div>
                                            </a>
                                            <div class="div-card">
                                                <div class="texto_nombre_arriba">
                                                    <h4><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_descripcion_arriba">
                                                    <p class="descripcion"><%= producto.descripcion %></p>
                                                </div>
                                                <% if(producto.descuentos[0].id == 2) { %> <!-- y si tiene descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                                        <p class="descuento">20% OFF</p>
                                                    </div>
                                                <%} else { %> <!-- si no tienen descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado" style="color: white;">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= producto.precio %></p>
                                                        <p class="descuento" style="color: white;">20% OFF</p>
                                                    </div>
                                                <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                            </div>
                                        </article>
                                    <% }) %>
                                <% } else if(producto.categorias[0].id == 4) { %> <!-- y si la categoria es juguetes -->
                                    <% jugueteGato.forEach(producto => { %>
                                        <article class="articulo-productos-descuentos">
                                            <p class="etiqueta-juguete-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                            <a href="/productos/gato/juguetes/<%= producto.id %>">
                                                <div class="contenedor_imagen">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </div>
                                            </a>
                                            <div class="div-card">
                                                <div class="texto_nombre_arriba">
                                                    <h4><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_descripcion_arriba">
                                                <p class="descripcion"><%= producto.descripcion %></p>
                                                </div>
                                                <% if(producto.descuentos[0].id == 2) { %> <!-- y si tiene descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                                        <p class="descuento">20% OFF</p>
                                                    </div>
                                                <%} else { %> <!-- si no tienen descuentos los productos (perro) -->
                                                    <div class="div-precios">
                                                        <p class="precio-tachado" style="color: white;">$ <%= producto.precio %></p>
                                                        <p class="precio-d">$ <%= producto.precio %></p>
                                                        <p class="descuento" style="color: white;">20% OFF</p>
                                                    </div>
                                                <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                            </div>
                                        </article>
                                    <% }) %>
                                <% } %>
                            <% } %>
                        </ul>
                    </div>
                
                    <button type="button" class="slider-nav"></button>
                    <button type="button" class="slider-nav slider-nav-next"></button>
                    
                    <ul class="slider-indicators">
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class="active"></li>
                    </ul>
                </div>
            </section>
        <% } %>
        
    </main>

    <%- include("./partials/footer.ejs") %>

    <script src="/js/eliminar-producto.js"></script>
    <script src="/js/carrito2.js"></script>

</body>
</html>