<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs", {cssSheet: "index_styles", title: "Home - PATITAS"}) %>
    <link rel="stylesheet" href="/css/header-footer.css">
    
<body id="body">

    <%- include("./partials/header.ejs") %>
    <%- include("./partials/header2.ejs") %>

    <main>
        <div class="swiffy-slider slider-indicators-round">
            <ul class="slider-container">
                <li><a href="/productos/perro/promociones"><img src="/img/Imagen_carrusel.png" style="max-width: 100%;height: auto;"></a></li>
                <li><a href="/productos/gato/promociones"><img src="/img/Imagen_carrusel2.jpg" style="max-width: 100%;height: auto;"></a></li>
            </ul>
        
            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>
        
            <div class="slider-indicators">
                <button class="active"></button>
                <button></button>
                
            </div>
        </div>

        <section class="section-servicios">
            <div class="div-section-servicios">
                <article class="articulo-servicio">
                    <img class="img-servicio" src="\img\Imagen_home1.jpg" alt="Imagen_home1">
                    <div class="descripcion-servicio">
                        <h3>Alta calidad, precios bajos</h3>
                        <p>Mantén a tu mascota feliz y saludable con excelentes precios en los mejores productos</p>
                    </div>
                </article>

                <article class="articulo-servicio">
                    <img class="img-servicio" src="\img\Imagen_home2.jpg" alt="Imagen_home2">
                    <div class="descripcion-servicio">
                        <h3>Devoluciones sin problemas</h3>
                        <p>Tu mascota no tiene que esperar. Reciba todo directamente en su puerta con una entrega rápida de 1 a 3 días</p>
                    </div>
                </article>

                <article class="articulo-servicio">
                    <img class="img-servicio" src="\img\Imagen_home3.jpg" alt="Imagen_home3">
                    <div class="descripcion-servicio">
                        <h3>Soporte 24hs al día</h3>
                        <p>Tienes preguntas? Estamos las 24hs, los 7 días de la semana. Nuestros expertos están a solo una llamada, un correo electrónico o a un chat de distancia</p>
                    </div>
                </article>
            </div>
        </section>

        <section class="section-filtro-perro-gato">
            <div class="div-section-filtro-perro-gato">
                <article class="articulo-filtro-perro-gato">
                    <a href="/productos/perro">
                        <img class="img-boton-izq" src="\img\Captura-de-pantalla-2022-02-02-a-las-13.49.23_resultado-scaled.bmp" alt="perro_boton">
                        <div class="div-h1-perro">
                            <h1 class="h1-1ra-linea">Comprar</h1>
                            <h1 class="h1-2da-linea">para perro</h1>
                        </div>
                    </a>
                </article>

                <article class="articulo-filtro-perro-gato">
                    <a href="/productos/gato">
                        <img class="img-boton-der" src="\img\gatito-regalos-para-gatos-1613566520.bmp" alt="gato_boton">
                        <div class="div-h1-gato">
                            <h1 class="h1-1ra-linea">Comprar</h1>
                            <h1 class="h1-2da-linea">para gato</h1>
                        </div>
                    </a>
                </article>
            </div>
        </section>

        <!--- Seccion productos con descuentos -->
        <section class="section-productos-descuentos">
            <div class="swiffy-slider slider-item-show6 slider-item-show2-sm slider-item-reveal slider-item-snapstart slider-nav-dark slider-indicators-round slider-indicators-dark">
                <h2>Productos con descuentos</h2>
                <div class="div-section-productos-descuentos">
                    <ul class="slider-container">
                        <% productosConDescuento.forEach(producto => { %>
                            <article class="articulo-productos-descuentos">
                                <!-- para saber el contenido de la etiqueta -->
                                <% if(producto.categorias[0].id == 1) { %>
                                    <p class="etiqueta-comida-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                <% } else if(producto.categorias[0].id == 2) { %>
                                    <p class="etiqueta-accesorio-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                <% } else if(producto.categorias[0].id == 3) { %>
                                    <p class="etiqueta-higiene-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                <% } else if(producto.categorias[0].id == 4) { %>
                                    <p class="etiqueta-juguete-bicho-card"><%= producto.categorias[0].categoria %> <%= producto.tipos_mascota.mascota %></p>
                                <% } %>

                                <% if(producto.tipo_mascota_id == 2) { %> <!-- si el tipo de mascota es perro -->
                                    <% if(producto.categorias[0].categoria == "comida") { %> 
                                        <a href="/productos/perro/comida/<%= producto.id %>">
                                    <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                        <a href="/productos/perro/accesorios/<%= producto.id %>">
                                    <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                        <a href="/productos/perro/higiene/<%= producto.id %>">
                                    <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                        <a href="/productos/perro/juguetes/<%= producto.id %>">
                                    <% } %>
                                            <div class="contenedor_imagen">
                                                <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                            </div>
                                        </a>
                                <% } else { %> <!-- y si el tipo de mascota es gato -->
                                    <% if(producto.categorias[0].categoria == "comida") { %> 
                                        <a href="/productos/gato/comida/<%= producto.id %>">
                                    <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                        <a href="/productos/gato/accesorios/<%= producto.id %>">
                                    <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                        <a href="/productos/gato/higiene/<%= producto.id %>">
                                    <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                        <a href="/productos/gato/juguetes/<%= producto.id %>">
                                    <% } %>
                                            <div class="contenedor_imagen">
                                                <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                            </div>
                                        </a>
                                <% } %>  
                                <div class="div-card">
                                    <div class="texto_nombre_arriba">
                                        <h4><%= producto.nombre %></h4>
                                    </div>               
                                    <div class="texto_descripcion_arriba">
                                        <p class="descripcion"><%= producto.descripcion %></p>
                                    </div>
                                    <div class="div-precios">
                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                        <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                        <p class="descuento">20% OFF</p>
                                    </div>
                                    <div class="div-boton-comprar">
                                        <button class="boton-comprar" id="comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                    </div>
                                </div>
                            </article>
                        <% }) %>
                    </ul>
                
                    <button type="button" class="slider-nav"></button>
                    <button type="button" class="slider-nav slider-nav-next"></button>
                
                    <ul class="slider-indicators">
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class="active"></li>
                    </ul>
                </div>
            </div>
            <h3><a href="/productos/promociones" style="color: #18515F;">Ver todos</a></h3>
        </section>


        <!--- Banner-->
        <section class="section-banner">
            <div class="div-banner">
                <img class="img-banner" src="\img\img-banner.jpg" alt="banner">
                <h2 class="h2-banner-1ra-linea">En PATITAS encontrás todo lo que</h2>
                <h2 class="h2-banner-2da-linea">tu mascota necesita</h2>
            </div>
        </section>


        <!--- Sección productos para perro-->
        <section class="section-productos-descuentos">
            <div class="swiffy-slider slider-item-show6 slider-item-show2-sm slider-item-reveal slider-item-snapstart slider-nav-dark slider-indicators-round slider-indicators-dark">
                <h2>Productos para perro</h2>
                <div class="div-section-productos-descuentos">
                    <ul class="slider-container">
                        <% productosPerro.forEach(producto => { %>
                            <article class="articulo-productos-descuentos">
                                <!-- para saber el contenido de la etiqueta -->
                                <% if(producto.categorias[0].id == 1) { %>
                                    <p class="etiqueta-comida-bicho-card" style="width: 45%"><%= producto.categorias[0].categoria %></p>
                                <% } else if(producto.categorias[0].id == 2) { %>
                                    <p class="etiqueta-accesorio-bicho-card" style="width: 45%"><%= producto.categorias[0].categoria %></p>
                                <% } else if(producto.categorias[0].id == 3) { %>
                                    <p class="etiqueta-higiene-bicho-card" style="width: 45%"><%= producto.categorias[0].categoria %></p>
                                <% } else if(producto.categorias[0].id == 4) { %>
                                    <p class="etiqueta-juguete-bicho-card" style="width: 45%"><%= producto.categorias[0].categoria %></p>
                                <% } %>

                                <% if(producto.categorias[0].categoria == "comida") { %> 
                                    <a href="/productos/perro/comida/<%= producto.id %>">
                                <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                    <a href="/productos/perro/accesorios/<%= producto.id %>">
                                <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                    <a href="/productos/perro/higiene/<%= producto.id %>">
                                <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                    <a href="/productos/perro/juguetes/<%= producto.id %>">
                                <% } %>
                                        <div class="contenedor_imagen">
                                            <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                        </div>
                                    </a>
                                <div class="div-card">
                                    <div class="texto_nombre_arriba">
                                        <h4><%= producto.nombre %></h4>
                                    </div>  
                                    <div class="texto_descripcion_arriba">
                                        <p class="descripcion"><%= producto.descripcion %></p>
                                    </div>
                                    <% if(producto.descuentos[0].id == 2) { %> <!-- y si tiene descuentos los productos (perro) -->
                                        <div class="div-precios">
                                            <p class="precio-tachado">$ <%= producto.precio %></p>
                                            <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                            <p class="descuento">20% OFF</p>
                                        </div>
                                    <%} else { %> <!-- si no tienen descuentos los productos (perro) -->
                                        <div class="div-precios">
                                            <p class="precio-tachado" style="color: white;">$ <%= producto.precio %></p>
                                            <p class="precio-d">$ <%= producto.precio %></p>
                                            <p class="descuento" style="color: white;">20% OFF</p>
                                        </div>
                                    <% } %>
                                    <div class="div-boton-comprar">
                                        <button class="boton-comprar" id="comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                    </div>
                                </div>
                            </article>
                        <% }) %>
                    </ul>
                
                    <button type="button" class="slider-nav"></button>
                    <button type="button" class="slider-nav slider-nav-next"></button>
                
                    <ul class="slider-indicators">
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class="active"></li>
                    </ul>
                </div>
            </div>
            <h3><a href="/productos/perro" style="color: #18515F;">Ver todos</a></h3>
        </section>

        <!--- Sección productos para Gato-->
        <section class="section-productos-descuentos">
            <div class="swiffy-slider slider-item-show6 slider-item-show2-sm slider-item-reveal slider-item-snapstart slider-nav-dark slider-indicators-round slider-indicators-dark">
                <h2>Productos para gato</h2> 
                <div class="div-section-productos-descuentos" id="articulos">
                    <ul class="slider-container">
                        <% productosGato.forEach(producto => { %>
                            <article class="articulo-productos-descuentos">
                                <!-- para saber el contenido de la etiqueta -->
                                <% if(producto.categorias[0].id == 1) { %>
                                    <p class="etiqueta-comida-bicho-card" style="width: 45%"><%= producto.categorias[0].categoria %></p>
                                <% } else if(producto.categorias[0].id == 2) { %>
                                    <p class="etiqueta-accesorio-bicho-card" style="width: 45%"><%= producto.categorias[0].categoria %></p>
                                <% } else if(producto.categorias[0].id == 3) { %>
                                    <p class="etiqueta-higiene-bicho-card" style="width: 45%"><%= producto.categorias[0].categoria %></p>
                                <% } else if(producto.categorias[0].id == 4) { %>
                                    <p class="etiqueta-juguete-bicho-card" style="width: 45%"><%= producto.categorias[0].categoria %></p>
                                <% } %>

                                <% if(producto.categorias[0].categoria == "comida") { %> 
                                    <a href="/productos/gato/comida/<%= producto.id %>">
                                <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                    <a href="/productos/gato/accesorios/<%= producto.id %>">
                                <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                    <a href="/productos/gato/higiene/<%= producto.id %>">
                                <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                    <a href="/productos/gato/juguetes/<%= producto.id %>">
                                <% } %>
                                        <div class="contenedor_imagen">
                                            <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                        </div>
                                    </a>
                                <div class="div-card">
                                    <div class="texto_nombre_arriba">
                                        <h4><%= producto.nombre %></h4>
                                    </div>       
                                    <div class="texto_descripcion_arriba">
                                        <p class="descripcion"><%= producto.descripcion %></p>
                                    </div>
                                    <% if(producto.descuentos[0].id == 2) { %> <!-- y si tiene descuentos los productos (perro) -->
                                        <div class="div-precios">
                                            <p class="precio-tachado">$ <%= producto.precio %></p>
                                            <p class="precio-d">$ <%= Number((producto.precio*0.8).toFixed(0)) %></p>
                                            <p class="descuento">20% OFF</p>
                                        </div>
                                    <%} else { %> <!-- si no tienen descuentos los productos (perro) -->
                                        <div class="div-precios">
                                            <p class="precio-tachado" style="color: white;">$ <%= producto.precio %></p>
                                            <p class="precio-d">$ <%= producto.precio %></p>
                                            <p class="descuento" style="color: white;">20% OFF</p>
                                        </div>
                                    <% } %>
                                    <div class="div-boton-comprar">
                                        <button class="boton-comprar" id="comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                    </div>
                                </div>
                            </article>
                        <% }) %>
                    </ul>
                
                    <button type="button" class="slider-nav"></button>
                    <button type="button" class="slider-nav slider-nav-next"></button>
                
                    <ul class="slider-indicators">
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class="active"></li>
                    </ul>
                </div>
            </div>
            <h3><a href="/productos/gato" style="color: #18515F;">Ver todos</a></h3>
        </section>

        <button onclick="topFunction()" class="myBtn" title="Go to top"><i class="fa-solid fa-chevron-up"></i></button>
   
    </main>

    <%- include("./partials/footer.ejs") %>
    
    <script src="/js/scroll-up.js"></script>
    
</body>
</html>