<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "registerLogin_style", title: "Página Login"}) %>
<body>
    
    <%- include("./partials/header.ejs") %>
    
    <%- include("./partials/header2.ejs") %>

    <main>
        <article class="contenedor">
            <!--Imagen hardcodeada-->
            <img src="/img/Imagen_login.png" alt="Imagen de perro y gato" class="tamano-imagen">
            <!--Registro-->
            <form action="/users/login" method="POST" class="formulario">
                <div class="centrado">
                    <!--Logo + texto-->
                    <article class="flex-enlinea">
                        <img src="/img/header/logoV.png" alt="Logo" class="logo">
                        <h2> Bienvenido/a a Patitas</h2>
                    </article>

                    <div>
                        <% if(locals.errors){ %> 
        
                            <% for(let error in errors) { %>
                                <p style="color: red; font-size: 16px;" > <%= errors[error].msg %> </p> 
                            <% } %>
                            
                        <% } %>
                    </div>

                    <!--Input email-->
                    <p class="titulo">Email</p>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu mail para el registro" class="input1" value="<%= locals.oldData ? oldData.email : null %>">
                    <label for="email" class="error">El email ingresado no es válido</label>

                    <!--Input contraseña-->
                    <p class="titulo">Contraseña</p>
                    <input type="password" name="password" id="password" placeholder="Ingresa una contraseña" class="input1">
                    <label for="password" class="error">La contraseña ingresada debe tener mas de 8 caracteres</label>

                    <!--Recuerdame -->
                    <section class="flex-enlinea2">
                        <input type="checkbox" name="checkbox" id="recuerdame">
                        <p>Recuerdame</p>
                    </section>

                    <a href="">¿Olvidaste la contraseña?</a>

                    <button type="submit">Iniciar sesión</button>
                    <hr>

                    <section class="flex-enlinea">
                        <button class="btn-icon"> Ingresar con  <img src="/img/Iconos/Google.png" class="tamano-icono"/></button>
                        <button class="btn-icon"> Ingresar con  <img src="/img/Iconos/Facebook.png" class="tamano-icono"/></button>
                    </section>

                    <hr>
                    <a href="/users/register">
                        <button type="button" class="btn-secundario">Registrate</button>
                    </a>
                </div>
            </form>
        </article>

    </main> 

    <%- include("./partials/footer.ejs") %>
    
</body>
</html>