<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "registerLogin_style", title: "Página Register"}) %>
<body>

    <%- include("./partials/header.ejs") %>
    
    <%- include("./partials/header2.ejs") %>

<main>
    
<article class="contenedor">
    <!--Imagen hardcodeada-->
        <img src="/img/Imagen_register.png" alt="Imagen de perro y gato" class="tamano-imagen">
    <!--Registro-->
    <form class="formulario" action="" method="POST">
        <div class="centrado">
            
            <div>
                <!-- muestra los datos del usuario -->
                <% if(locals.usuario && locals.userALoguearse){ %>

                    <h2>Mi perfil</h2>
    
                    <h3 style="color: black; font-size: 20px; font-weight: 600;" > Usuario: <%= usuario.nombre %> <%= usuario.apellido %></h3>
                    <h3 style="color: black; font-size: 18px; font-weight: 400;" >Email: <%= usuario.email %></h3>
                    <img src="<%= usuario.imagen %>" alt="">

                    <a href="/users/edit/<%= usuario.id %>">
                        <button type="button" class="btn-secundario" style="margin-top: 20px;">Editá tus datos</button>
                    </a>
    
                <% } else { %>

                    <h3 class="editar-titulo">Ya podés loguearte</h3>

                    <a href="/users/login">
                        <button type="button" class="btn-secundario">Login</button>
                    </a>

                <% }  %>

            </div>

            
            
        </div>
    </form>
</article>

</main>

<%- include("./partials/footer.ejs") %>
    
</body>
</html>