<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs", {cssSheet: "categoria", title: "Página Categoría"}) %>
    <link rel="stylesheet" href="/css/header-footer.css">

<body>

    <%- include("./partials/header.ejs") %>
    <%- include("./partials/header2.ejs") %>
    
    <main>
        <!-- Odenar y filtros para celular-->
        <article class="cantidad-producto">
            <section class="flex-enlinea">
                <button class="btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 7.5L7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5" />
                    </svg>
                    Ordenar
                </button>
                <button class="btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z" />
                    </svg>
                    Filtro  
                </button>
            </section>
        </article>
    

        <!-- menú ordenar-->
        <article class="seccion-menu-ordenar">
            <section class="menu-ordenar">
                <section class="flex-linea-close">
                    <h2>Ordenar</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </section>
            
        
                <section class="contendor_opciones">
                    <article class="ordenar">
                        <div class="opciones">
                            <input type="radio" name="ordenar">
                            <p>Relevancia</p>
                        </div>
                        <div class="opciones">
                            <input type="radio" name="ordenar">
                            <p>Más nuevo</p>
                        </div>
                        <div class="opciones">
                            <input type="radio" name="ordenar">
                            <p>Precio: más económico primero</p>
                        </div>
                        <div class="opciones">
                            <input type="radio" name="ordenar">
                            <p>Precio: más caro primero</p>
                        </div>
                    
                    </article>
                </section>
            </section>
        </article>


        <!--  Menú desktop + productos-->
        <section class="contenedor_menu_productos_desktop">
            <div class="contenedor-filtros-desktop">
                <!--  Filtros-->
                <article class="contenedor_menu_desktop">
                    <div class="contenedor_filtros">
                        <section class="lista_filtros_desktop">
                            <h4 style="margin: 0; margin-bottom: 0;">Precio</h4>
                            <div class="flex_enlinea_menu">
                                <p>0 a 10</p><input type="checkbox" id="diez">
                            </div>
                            <div class="flex_enlinea_menu">
                                <p>11 a 20</p><input type="checkbox" id="veinte">
                            </div>
                            <div class="flex_enlinea_menu">
                                <p>21 a 30</p><input type="checkbox" id="treinta">
                            </div>
                            <div class="flex_enlinea_menu">
                                <p>Más de 30</p><input type="checkbox" id="cuarenta">
                            </div>
                        </section>
                    </div>
                </article>
            </div>
            
             <!-- Lista productos productos-->
             <div class="lista_desktop">
                <div>
                    <% if(locals.promocionesPerroVisible && locals.promocionesPerroInvisible){ %>

                        <h2 style="margin-left: 2%; margin-top: 2.5%;">Promociones Perro</h2>

                        <div class="lista_flexbox_desktop">
                            <% for(let producto of promocionesPerroVisible) { %>
                                <article class="articulo-productos-descuentos">
                                    <div class="contenedor_imagen">
                                        <% if(producto.categorias && producto.categorias[0]) { %> 
                                            <% if(producto.categorias[0].categoria == "comida") { %> 
                                                <a href="/productos/perro/comida/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "accesorio") { %>
                                                <a href="/productos/perro/accesorios/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                <a href="/productos/perro/higiene/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                <a href="/productos/perro/juguetes/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <div class="div-dos">
                                                <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                            </div>
                                            <div class="div-tres">
                                                <div class="div-tres-int">
                                                    <p class="precio-tachado">$ <%= producto.precio %></p>
                                                    <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                </div>
                                                <div class="div-boton-comprar">
                                                    <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <div class="div-dos">                                           
                                                <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                <p class="descuento" style="color: white;">20% off</p> 
                                            </div>
                                            <div class="div-tres-b">
                                                <div class="div-tres-int">
                                                    <p class="precio">$ <%= producto.precio %></p>
                                                </div>
                                                <div class="div-boton-comprar">
                                                    <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </article>
                                        
                            <% } %>
                            <div class="div-btnver" style="width: 100%; margin: 0; text-align: center;">
                                <button class="btnver" id="btnver"><i class="fa-solid fa-grip-vertical"></i> Mostrar mas</button>
                            </div>
                        </div>

                        <div class="lista_flexbox_desktop---invisible">
                            <% for(let producto of promocionesPerroInvisible) { %>
                                <article class="articulo-productos-descuentos">
                                    <div class="contenedor_imagen">
                                        <% if(producto.categorias && producto.categorias[0]) { %> 
                                            <% if(producto.categorias[0].categoria == "comida") { %> 
                                                <a href="/productos/perro/comida/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "accesorio") { %>
                                                <a href="/productos/perro/accesorios/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                <a href="/productos/perro/higiene/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                <a href="/productos/perro/juguetes/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <div class="div-dos">
                                                <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                            </div>
                                            <div class="div-tres">
                                                <div class="div-tres-int">
                                                    <p class="precio-tachado">$ <%= producto.precio %></p>
                                                    <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                </div>
                                                <div class="div-boton-comprar">
                                                    <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <div class="div-dos">                                           
                                                <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                <p class="descuento" style="color: white;">20% off</p> 
                                            </div>
                                            <div class="div-tres-b">
                                                <div class="div-tres-int">
                                                    <p class="precio">$ <%= producto.precio %></p>
                                                </div>
                                                <div class="div-boton-comprar">
                                                    <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </article>
                                        
                            <% } %>
                        </div>

                        <!----------------------------- divs para filtros de precios ----------------------------->

                        <div class="lista_flexbox_desktop---de0a10">
                            <!-- div invisible por defecto con la class de arriba ---invisible y visible si se apreta el boton -->
                            <% if(de0a10.length > 0) { %>
                                <% for(let producto of de0a10) { %>
                                    <article class="articulo-productos-descuentos">
                                        <div class="contenedor_imagen">
                                            <!-- dependiendo de la categoria q sea el producto, para q te lleve a la ruta de categoria correspondiente -->
                                            <% if(producto.categorias && producto.categorias[0]) { %> 
                                                <% if(producto.categorias[0].categoria == "comida") { %> 
                                                    <a href="/productos/perro/comida/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                                    <a href="/productos/perro/accesorios/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                    <a href="/productos/perro/higiene/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                    <a href="/productos/perro/juguetes/<%= producto.id %>">
                                                <% } %>
                                            <% } %>
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                        </div>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                                <div class="div-dos">
                                                    <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                    <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                                </div>
                                                <div class="div-tres">
                                                    <div class="div-tres-int">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                    </div>
                                            <% } else { %>  
                                                <div class="div-dos">                                           
                                                    <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                    <p class="descuento" style="color: white;">20% off</p> 
                                                </div>
                                                <div class="div-tres-b">
                                                    <div class="div-tres-int">
                                                        <p class="precio">$ <%= producto.precio %></p>
                                                    </div>
                                            <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </article>
                                <% } %>
                            <% } else { %>
                                <h3 style="font-weight: 300;">No se encontraron resultados</h3>
                            <% } %>
                        </div>

                        <div class="lista_flexbox_desktop---de10a20">
                            <!-- div invisible por defecto con la class de arriba ---invisible y visible si se apreta el boton -->
                            <% if(de10a20.length > 0) { %>
                                <% for(let producto of de10a20) { %>
                                    <article class="articulo-productos-descuentos">
                                        <div class="contenedor_imagen">
                                            <!-- dependiendo de la categoria q sea el producto, para q te lleve a la ruta de categoria correspondiente -->
                                            <% if(producto.categorias && producto.categorias[0]) { %> 
                                                <% if(producto.categorias[0].categoria == "comida") { %> 
                                                    <a href="/productos/perro/comida/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                                    <a href="/productos/perro/accesorios/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                    <a href="/productos/perro/higiene/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                    <a href="/productos/perro/juguetes/<%= producto.id %>">
                                                <% } %>
                                            <% } %>
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                        </div>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                                <div class="div-dos">
                                                    <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                    <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                                </div>
                                                <div class="div-tres">
                                                    <div class="div-tres-int">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                    </div>
                                            <% } else { %>  
                                                <div class="div-dos">                                           
                                                    <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                    <p class="descuento" style="color: white;">20% off</p> 
                                                </div>
                                                <div class="div-tres-b">
                                                    <div class="div-tres-int">
                                                        <p class="precio">$ <%= producto.precio %></p>
                                                    </div>
                                            <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </article>
                                <% } %>
                            <% } else { %>
                                <h3 style="font-weight: 300;">No se encontraron resultados</h3>
                            <% } %>
                        </div>

                        <div class="lista_flexbox_desktop---de20a30">
                            <!-- div invisible por defecto con la class de arriba ---invisible y visible si se apreta el boton -->
                            <% if(de20a30.length > 0) { %>
                                <% for(let producto of de20a30) { %>
                                    <article class="articulo-productos-descuentos">
                                        <div class="contenedor_imagen">
                                            <!-- dependiendo de la categoria q sea el producto, para q te lleve a la ruta de categoria correspondiente -->
                                            <% if(producto.categorias && producto.categorias[0]) { %> 
                                                <% if(producto.categorias[0].categoria == "comida") { %> 
                                                    <a href="/productos/perro/comida/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                                    <a href="/productos/perro/accesorios/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                    <a href="/productos/perro/higiene/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                    <a href="/productos/perro/juguetes/<%= producto.id %>">
                                                <% } %>
                                            <% } %>
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                        </div>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                                <div class="div-dos">
                                                    <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                    <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                                </div>
                                                <div class="div-tres">
                                                    <div class="div-tres-int">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                    </div>
                                            <% } else { %>  
                                                <div class="div-dos">                                           
                                                    <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                    <p class="descuento" style="color: white;">20% off</p> 
                                                </div>
                                                <div class="div-tres-b">
                                                    <div class="div-tres-int">
                                                        <p class="precio">$ <%= producto.precio %></p>
                                                    </div>
                                            <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </article>
                                <% } %>
                            <% } else { %>
                                <h3 style="font-weight: 300;">No se encontraron resultados</h3>
                            <% } %>
                        </div>

                        <div class="lista_flexbox_desktop---de30aX">
                            <!-- div invisible por defecto con la class de arriba ---invisible y visible si se apreta el boton -->
                            <% if(de30aX.length > 0) { %>
                                <% for(let producto of de30aX) { %>
                                    <article class="articulo-productos-descuentos">
                                        <div class="contenedor_imagen">
                                            <!-- dependiendo de la categoria q sea el producto, para q te lleve a la ruta de categoria correspondiente -->
                                            <% if(producto.categorias && producto.categorias[0]) { %> 
                                                <% if(producto.categorias[0].categoria == "comida") { %> 
                                                    <a href="/productos/perro/comida/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                                    <a href="/productos/perro/accesorios/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                    <a href="/productos/perro/higiene/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                    <a href="/productos/perro/juguetes/<%= producto.id %>">
                                                <% } %>
                                            <% } %>
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                        </div>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                                <div class="div-dos">
                                                    <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                    <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                                </div>
                                                <div class="div-tres">
                                                    <div class="div-tres-int">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                    </div>
                                            <% } else { %>  
                                                <div class="div-dos">                                           
                                                    <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                    <p class="descuento" style="color: white;">20% off</p> 
                                                </div>
                                                <div class="div-tres-b">
                                                    <div class="div-tres-int">
                                                        <p class="precio">$ <%= producto.precio %></p>
                                                    </div>
                                            <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </article>
                                <% } %>
                            <% } else { %>
                                <h3 style="font-weight: 300;">No se encontraron resultados</h3>
                            <% } %>
                        </div>

                    <% } %>

                    <% if(locals.promocionesGatoVisible && locals.promocionesGatoInvisible){ %>

                        <h2 style="margin-left: 2%; margin-top: 2.5%;">Promociones Gato</h2>

                        <div class="lista_flexbox_desktop">
                            <% for(let producto of promocionesGatoVisible) { %>
                                <article class="articulo-productos-descuentos">
                                    <div class="contenedor_imagen">
                                        <% if(producto.categorias && producto.categorias[0]) { %> 
                                            <% if(producto.categorias[0].categoria == "comida") { %> 
                                                <a href="/productos/gato/comida/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "accesorio") { %>
                                                <a href="/productos/gato/accesorios/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                <a href="/productos/gato/higiene/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                <a href="/productos/gato/juguetes/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <div class="div-dos">
                                                <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                            </div>
                                            <div class="div-tres">
                                                <div class="div-tres-int">
                                                    <p class="precio-tachado">$ <%= producto.precio %></p>
                                                    <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                </div>
                                                <div class="div-boton-comprar">
                                                    <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <div class="div-dos">                                           
                                                <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                <p class="descuento" style="color: white;">20% off</p> 
                                            </div>
                                            <div class="div-tres-b">
                                                <div class="div-tres-int">
                                                    <p class="precio">$ <%= producto.precio %></p>
                                                </div>
                                                <div class="div-boton-comprar">
                                                    <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </article>
                            <% } %>
                            <div class="div-btnver" style="width: 100%; margin: 0; text-align: center;">
                                <button class="btnver" id="btnver"><i class="fa-solid fa-grip-vertical"></i> Mostrar mas</button>
                            </div>
                        </div>

                        <div class="lista_flexbox_desktop---invisible">
                            <% for(let producto of promocionesGatoInvisible) { %>
                                <article class="articulo-productos-descuentos">
                                    <div class="contenedor_imagen">
                                        <% if(producto.categorias && producto.categorias[0]) { %> 
                                            <% if(producto.categorias[0].categoria == "comida") { %> 
                                                <a href="/productos/gato/comida/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "accesorio") { %>
                                                <a href="/productos/gato/accesorios/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                <a href="/productos/gato/higiene/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                <a href="/productos/gato/juguetes/<%= producto.id %>">
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <div class="div-dos">
                                                <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                            </div>
                                            <div class="div-tres">
                                                <div class="div-tres-int">
                                                    <p class="precio-tachado">$ <%= producto.precio %></p>
                                                    <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                </div>
                                                <div class="div-boton-comprar">
                                                    <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <div class="div-dos">                                           
                                                <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                <p class="descuento" style="color: white;">20% off</p> 
                                            </div>
                                            <div class="div-tres-b">
                                                <div class="div-tres-int">
                                                    <p class="precio">$ <%= producto.precio %></p>
                                                </div>
                                                <div class="div-boton-comprar">
                                                    <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </article>
                                        
                            <% } %>
                        </div>

                        <!----------------------------- divs para filtros de precios ----------------------------->

                        <div class="lista_flexbox_desktop---de0a10">
                            <!-- div invisible por defecto con la class de arriba ---invisible y visible si se apreta el boton -->
                            <% if(de0a10.length > 0) { %>
                                <% for(let producto of de0a10) { %>
                                    <article class="articulo-productos-descuentos">
                                        <div class="contenedor_imagen">
                                            <!-- dependiendo de la categoria q sea el producto, para q te lleve a la ruta de categoria correspondiente -->
                                            <% if(producto.categorias && producto.categorias[0]) { %> 
                                                <% if(producto.categorias[0].categoria == "comida") { %> 
                                                    <a href="/productos/gato/comida/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                                    <a href="/productos/gato/accesorios/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                    <a href="/productos/gato/higiene/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                    <a href="/productos/gato/juguetes/<%= producto.id %>">
                                                <% } %>
                                            <% } %>
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                        </div>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                                <div class="div-dos">
                                                    <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                    <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                                </div>
                                                <div class="div-tres">
                                                    <div class="div-tres-int">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                    </div>
                                            <% } else { %>  
                                                <div class="div-dos">                                           
                                                    <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                    <p class="descuento" style="color: white;">20% off</p> 
                                                </div>
                                                <div class="div-tres-b">
                                                    <div class="div-tres-int">
                                                        <p class="precio">$ <%= producto.precio %></p>
                                                    </div>
                                            <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </article>
                                <% } %>
                            <% } else { %>
                                <h3 style="font-weight: 300;">No se encontraron resultados</h3>
                            <% } %>
                        </div>

                        <div class="lista_flexbox_desktop---de10a20">
                            <!-- div invisible por defecto con la class de arriba ---invisible y visible si se apreta el boton -->
                            <% if(de10a20.length > 0) { %>
                                <% for(let producto of de10a20) { %>
                                    <article class="articulo-productos-descuentos">
                                        <div class="contenedor_imagen">
                                            <!-- dependiendo de la categoria q sea el producto, para q te lleve a la ruta de categoria correspondiente -->
                                            <% if(producto.categorias && producto.categorias[0]) { %> 
                                                <% if(producto.categorias[0].categoria == "comida") { %> 
                                                    <a href="/productos/gato/comida/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                                    <a href="/productos/gato/accesorios/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                    <a href="/productos/gato/higiene/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                    <a href="/productos/gato/juguetes/<%= producto.id %>">
                                                <% } %>
                                            <% } %>
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                        </div>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                                <div class="div-dos">
                                                    <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                    <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                                </div>
                                                <div class="div-tres">
                                                    <div class="div-tres-int">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                    </div>
                                            <% } else { %>  
                                                <div class="div-dos">                                           
                                                    <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                    <p class="descuento" style="color: white;">20% off</p> 
                                                </div>
                                                <div class="div-tres-b">
                                                    <div class="div-tres-int">
                                                        <p class="precio">$ <%= producto.precio %></p>
                                                    </div>
                                            <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </article>
                                <% } %>
                            <% } else { %>
                                <h3 style="font-weight: 300;">No se encontraron resultados</h3>
                            <% } %>
                        </div>

                        <div class="lista_flexbox_desktop---de20a30">
                            <!-- div invisible por defecto con la class de arriba ---invisible y visible si se apreta el boton -->
                            <% if(de20a30.length > 0) { %>
                                <% for(let producto of de20a30) { %>
                                    <article class="articulo-productos-descuentos">
                                        <div class="contenedor_imagen">
                                            <!-- dependiendo de la categoria q sea el producto, para q te lleve a la ruta de categoria correspondiente -->
                                            <% if(producto.categorias && producto.categorias[0]) { %> 
                                                <% if(producto.categorias[0].categoria == "comida") { %> 
                                                    <a href="/productos/gato/comida/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                                    <a href="/productos/gato/accesorios/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                    <a href="/productos/gato/higiene/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                    <a href="/productos/gato/juguetes/<%= producto.id %>">
                                                <% } %>
                                            <% } %>
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                        </div>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                                <div class="div-dos">
                                                    <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                    <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                                </div>
                                                <div class="div-tres">
                                                    <div class="div-tres-int">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                    </div>
                                            <% } else { %>  
                                                <div class="div-dos">                                           
                                                    <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                    <p class="descuento" style="color: white;">20% off</p> 
                                                </div>
                                                <div class="div-tres-b">
                                                    <div class="div-tres-int">
                                                        <p class="precio">$ <%= producto.precio %></p>
                                                    </div>
                                            <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </article>
                                <% } %>
                            <% } else { %>
                                <h3 style="font-weight: 300;">No se encontraron resultados</h3>
                            <% } %>
                        </div>

                        <div class="lista_flexbox_desktop---de30aX">
                            <!-- div invisible por defecto con la class de arriba ---invisible y visible si se apreta el boton -->
                            <% if(de30aX.length > 0) { %>
                                <% for(let producto of de30aX) { %>
                                    <article class="articulo-productos-descuentos">
                                        <div class="contenedor_imagen">
                                            <!-- dependiendo de la categoria q sea el producto, para q te lleve a la ruta de categoria correspondiente -->
                                            <% if(producto.categorias && producto.categorias[0]) { %> 
                                                <% if(producto.categorias[0].categoria == "comida") { %> 
                                                    <a href="/productos/gato/comida/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "accesorio") { %>  
                                                    <a href="/productos/gato/accesorios/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "higiene") { %>
                                                    <a href="/productos/gato/higiene/<%= producto.id %>">
                                                <% } else if (producto.categorias[0].categoria == "juguete") { %>
                                                    <a href="/productos/gato/juguetes/<%= producto.id %>">
                                                <% } %>
                                            <% } %>
                                                    <img class="img-productos-descuentos" src="/img/productos/<%= producto.imagen %>" alt="imagen_producto">
                                                </a>
                                        </div>
                                        <div class="div-card">
                                            <div class="div-uno">
                                                <div class="texto_nombre_arriba">
                                                    <h4 style="margin: 0; margin-bottom: 0;"><%= producto.nombre %></h4>
                                                </div>
                                                <div class="texto_description_arriba">
                                                    <P class="descripcion"><%= producto.descripcion %></P>
                                                </div>
                                            </div>
                                            <% if(producto.descuentos && producto.descuentos[0] && producto.descuentos[0].id == 2) { %>
                                                <div class="div-dos">
                                                    <p class="descuento"><%= producto.descuentos[0].descripcion %></p>
                                                    <p class="descuento" style="font-weight: 600;">20% OFF</p>
                                                </div>
                                                <div class="div-tres">
                                                    <div class="div-tres-int">
                                                        <p class="precio-tachado">$ <%= producto.precio %></p>
                                                        <p class="precio">$ <%= Number((producto.precio*0.8).toFixed(2)) %></p>
                                                    </div>
                                            <% } else { %>  
                                                <div class="div-dos">                                           
                                                    <p class="descuento" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                    <p class="descuento" style="color: white;">20% off</p> 
                                                </div>
                                                <div class="div-tres-b">
                                                    <div class="div-tres-int">
                                                        <p class="precio">$ <%= producto.precio %></p>
                                                    </div>
                                            <% } %>
                                                    <div class="div-boton-comprar">
                                                        <button class="boton-comprar" type="submit" data-id="<%= producto.id %>">Agregar</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </article>
                                <% } %>
                            <% } else { %>
                                <h3 style="font-weight: 300;">No se encontraron resultados</h3>
                            <% } %>
                        </div>

                    <% } %>
                <div>
            </div>

        </section>  
    </main>

    <%- include("./partials/footer.ejs") %>

    <script src="/js/vermas.js"></script>
    <script src="/js/categorias.js"></script>
    <script src="/js/carrito2.js"></script>

</body>
</html>