<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs", {cssSheet: "registerLogin_style", title: "Página Register"}) %>
    <link rel="stylesheet" href="/css/header-footer.css">

<body>

    <%- include("./partials/header.ejs") %>
    <%- include("./partials/header2.ejs") %>

    <main>
    
        <article class="contenedor">
            <!--Imagen hardcodeada-->
                <img src="/img/Imagen_register.png" alt="Imagen de perro y gato" class="tamano-imagen">
            <!--Registro-->
            <form class="formulario" id="formulario" action="/users/register" method="POST" enctype="multipart/form-data" >
                <div class="centrado">
                    <h2>Crea tu cuenta Patitas</h2>
                    
                    <!--Input Nombre-->
                    <p class="<%= (locals.errors && locals.errors.nombre) ? 'titulo-error' : 'titulo' %>">Nombre:</p>
                    <input class="<%= (locals.errors && locals.errors.nombre) ? 'input_error' : '' %>" type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" value="<%= locals.oldData ? locals.oldData.nombre : '' %>">
                    <div class="" style="margin-top: 10px;" id=""><small class="errorNombre" style="color: red; font-size: 16px;"></small></div>
                    <% if (locals.errors && locals.errors.nombre) { %>
                        <label class="error"><i style="color: red; font-size: 16px; margin-right: 5px; margin-left: 5px;" class="fa-sharp fa-solid fa-circle-exclamation"></i><%= errors.nombre.msg %></label>
                    <% } %>
            
        
                    <!--Input Apellido-->
                    <p class="<%= (locals.errors && locals.errors.apellido) ? 'titulo-error' : 'titulo' %>">Apellido</p>
                    <input class="<%= (locals.errors && locals.errors.apellido) ? 'input_error' : '' %>" type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
                    <div class="" style="margin-top: 10px;" id=""><small class="errorApellido" style="color: red; font-size: 16px;"></small></div>
                    <% if (locals.errors && locals.errors.apellido) { %>
                        <label class="error"><i style="color: red; font-size: 16px; margin-right: 5px; margin-left: 5px;" class="fa-sharp fa-solid fa-circle-exclamation"></i><%= errors.apellido.msg %></label>
                    <% } %>
                    
        
                    <!--Input imagen-->
                    <p class="titulo" for="imagen_user">Sube una foto de perfil (Opcional)</p>
                    <input type="file" name="imagen_user" class="input_imagen">
                    
                
                    <!--Input email-->
                    <p class="<%= (locals.errors && locals.errors.email) ? 'titulo-error' : 'titulo' %>">Email</p>
                    <input class="<%= (locals.errors && locals.errors.email) ? 'input_error' : '' %>" type="email" name="email" id="email" placeholder="Ingresa tu mail para el registro" class="input1" value="<%= locals.oldData ? oldData.email : null %>">
                    <div class="" style="margin-top: 10px;" id=""><small class="errorEmail" style="color: red; font-size: 16px;"></small></div>
                    <% if (locals.errors && locals.errors.email) { %>
                        <label class="error"><i style="color: red; font-size: 16px; margin-right: 5px; margin-left: 5px;" class="fa-sharp fa-solid fa-circle-exclamation"></i><%= errors.email.msg %></label>
                    <% } %>
                    
        
                    <!--Input contraseña-->
                    <p class="<%= (locals.errors && locals.errors.password) ? 'titulo-error' : 'titulo' %>">Contraseña</p>
                    <input class="<%= (locals.errors && locals.errors.password) ? 'input_error' : '' %>" type="password" name="password" id="password" placeholder="Ingresa una contraseña" class="input1" value="<%= locals.oldData ? oldData.password : null %>">
                    <div class="" style="margin-top: 10px;" id=""><small class="errorPassword" style="color: red; font-size: 16px;"></small></div>
                    <% if (locals.errors && locals.errors.password) { %>
                        <label class="error"><i style="color: red; font-size: 16px; margin-right: 5px; margin-left: 5px;" class="fa-sharp fa-solid fa-circle-exclamation"></i><%= errors.password.msg %></label>
                    <% } %>
                    
        
                        <!--Input -->
                    <p class="<%= (locals.errors && locals.errors.passwordrepeat) ? 'titulo-error' : 'titulo' %>">Reingresar contraseña</p>
                    <input class="<%= (locals.errors && locals.errors.passwordrepeat) ? 'input_error' : '' %>" type="password" name="passwordrepeat" id="passwordrepeat" placeholder="Reingresa la contraseña" class="input1" value="<%= locals.oldData ? oldData.passwordrepeat : null %>">
                    <div class="" style="margin-top: 10px;" id=""><small class="errorPasswordrepeat" style="color: red; font-size: 16px;"></small></div>
                    <% if (locals.errors && locals.errors.passwordrepeat) { %>
                        <label class="error"><i style="color: red; font-size: 16px; margin-right: 5px; margin-left: 5px;" class="fa-sharp fa-solid fa-circle-exclamation"></i><%= errors.passwordrepeat.msg %></label>
                    <% } %>
                    
        
                        <!--checkbox + términos y condiciones -->
                    <section class="flex-enlinea">
                        <input type="checkbox" name="terminos" id="terminos">
                        <p>Aceptar términos y condiciones</p>
                        <a href="">Leer términos y condiciones</a>
                    </section>
                    <div class="" style="margin-top: 5px;" id=""><small class="errorTerminos" style="color: red; font-size: 16px;"></small></div>
                    <% if (locals.errors && locals.errors.terminos) { %>
                        <label class="error"><i style="color: red; font-size: 16px; margin-right: 5px; margin-left: 5px;" class="fa-sharp fa-solid fa-circle-exclamation"></i><%= errors.terminos.msg %></label>
                    <% } %>
                    
                    <button id="btnSubmit" type="submit">Crear cuenta</button>
        
        
                </div>
            </form>
        </article>
        
    </main>

    <%- include("./partials/footer.ejs") %>

    <script src="/js/validacionregister.js"></script>
        
</body>
</html>