<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "registerLogin_style", title: "Página Register"}) %>
<body>

    <%- include("./partials/header.ejs") %>
    
    <%- include("./partials/header2.ejs") %>

<main>
    
<article class="contenedor">
    <!--Imagen hardcodeada-->
        <img src="/img/Imagen_register.png" alt="Imagen de perro y gato" class="tamano-imagen">
    <!--Registro-->
    <form class="formulario" action="/users/register" method="POST">
        <div class="centrado">
            <h2>Crea tu cuenta Patitas</h2>
            
            <!--Input Nombre-->
            <p class="titulo">Nombre:</p>
            <input class="<%= (locals.errors && locals.errors.nombre) ? 'input_error' : '' %>" type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" value="<%= locals.oldData ? locals.oldData.nombre : '' %>">
            <% if (locals.errors && locals.errors.nombre) { %>
                <label class="error" ><%= errors.nombre.msg %></label>
            <% } %>

            <!--Input Apellido-->
            <p class="titulo">Apellido</p>
            <input class="<%= (locals.errors && locals.errors.apellido) ? 'input_error' : '' %>" type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
            <% if (locals.errors && locals.errors.apellido) { %>
                <label class="error" ><%= errors.apellido.msg %></label>
            <% } %>

            <!--Input imagen-->
            <p class="titulo" for="">Sube una foto de perfil</p>
            <input type="file" name="imagen_producto" class="input_imagen">
            
        
            <!--Input email-->
            <p class="titulo">Email</p>
            <input class="<%= (locals.errors && locals.errors.email) ? 'input_error' : '' %>" type="email" name="email" id="email" placeholder="Ingresa tu mail para el registro" class="input1" value="<%= locals.oldData ? oldData.email : null %>">
            <% if (locals.errors && locals.errors.email) { %>
                <label class="error" ><%= errors.email.msg %></label>
            <% } %>

            <!--Input contraseña-->
            <p class="titulo">Contraseña</p>
            <input class="<%= (locals.errors && locals.errors.password) ? 'input_error' : '' %>" type="password" name="password" id="password" placeholder="Ingresa una contraseña" class="input1" value="<%= locals.oldData ? oldData.password : null %>">
            <% if (locals.errors && locals.errors.password) { %>
                <label class="error" ><%= errors.password.msg %></label>
            <% } %>

                <!--Input -->
            <p class="titulo">Reingresar contraseña</p>
            <input class="<%= (locals.errors && locals.errors.password) ? 'input_error' : '' %>" type="password" name="passwordrepeat" id="password" placeholder="Reingresa la contraseña" class="input1" value="<%= locals.oldData ? oldData.passwordrepeat : null %>">
            <% if (locals.errors && locals.errors.passwordrepeat) { %>
                <label class="error" ><%= errors.passwordrepeat.msg %></label>
            <% } %>

                <!--checkbox + términos y condiciones -->
            <section class="flex-enlinea">
                <input type="checkbox" name="terminos" id="terminos">
                <p>Aceptar términos y condiciones</p>
                <a href="">Leer términos y condiciones</a>
            </section>
            <% if (locals.errors && locals.errors.terminos) { %>
                <label class="error" ><%= errors.terminos.msg %></label>
            <% } %>
            
            <button type="submit">Crear cuenta</button>


        </div>
    </form>
</article>

</main>

<%- include("./partials/footer.ejs") %>
    
</body>
</html>