<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "alta-editar", title: "Listado de usuarios"}) %>
    <link rel="stylesheet" href="/css/header-footer.css">

<body>

    <%- include("./partials/header.ejs") %>    
    <%- include("./partials/header2.ejs") %>

<main>
    <h3 class="titulo-ppal">Listado de usuarios:</h3>

    <% users.forEach(user => { %>
        <article class="contenedor-alta">
            <div style="padding: 24px;">
                <% if(user.imagen) { %>
                    <img src="<%= user.imagen %>" alt="Imagen de <%= user.nombre %> <%= user.apellido %>" style="width:48px; height: 48px;">
                <% } else { %>
                    <p>Imagen no disponible</p>
                <% } %>
                <p>Nombre: <%= user.nombre %></p>
                <p>Apellido: <%= user.apellido %></p>
                <p>Permiso ID: <%= user.permiso_id %></p>
                
            </div>
        </article>
    <% }); %>

    
</main>

</body>
</html>