<header class="top">
    <div class="flex-top">
        <div class="izquierda">
            <div class="div-logo-desktop">
                <a href="/">
                    <!-- el logo en desktop -->
                    <img src="/img/header/LogoHeadBF2.png" alt="logo-desktop">
                </a>
            </div>

            <div class="div-logo-mobile">
                <a href="/">
                    <!-- el logo en mobile y tablet -->
                    <img src="/img/header/logoB.png" alt="logoB" class="logo-mobile"> 
                </a>
            </div>
               
           <!-- barra busqueda -->
           <div class="div-barra-busqueda">
                <form action="/productos/buscar" method="POST" class="form-barra">
                    <input type="search" name="producto" placeholder="Buscar producto" class="input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
           </div>
        </div>
        
        <div class="derecha">

            <% if (userALoguearse && userALoguearse.permiso_id == 1) { %>
                <!-- listado de usuarios -->
                <div class="mi-cuenta">
                    <a href="/users/usuariosListado">
                        <i class="fa-solid fa-users"></i>
                        <p>Usuarios</p>
                    </a>
                </div>
            <% } %>

            <% if(userALoguearse && userALoguearse.permiso_id == 1){ %>
                <!-- crear producto -->
                <div class="crear-producto">
                    <a href="/productos/alta">
                        <i class="fa-solid fa-plus" style="color: #ffe7a3;"></i>
                        <p style="color: #ffe7a3;">Crear Producto</p>
                    </a>
                </div>
            <% } %>

            <!-- mis compras -->
            <div class="mis-compras">
                <% if(userALoguearse){ %>
                    <a href="/users/perfil/<%= userALoguearse.id %>">
                        <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
                        <p>Mis compras</p>
                    </a>
                <% } else { %>
                    <a href="/users/login">
                        <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
                        <p>Mis compras</p>
                    </a>
                <% } %>
            </div>

            <!-- mi cuenta -->
            <div class="mi-cuenta">
                    <% if(userALoguearse){ %>
                        <div class="dropdown1">
                            <i class="fa-solid fa-circle-user" style="color: #FECF53;"></i>
                            <a href="/users/edit/<%= userALoguearse.id %>">
                                <p class="nombre-usuario"><%= userALoguearse.nombre %></p>
                            </a>
                           
                            <div class="dropdown-content1">
                                <a href="/users/perfil/<%= userALoguearse.id %>">Mi perfil</a>
                                <a href="/users/edit/<%= userALoguearse.id %>">Editá tus datos</a>
                                <a href="/users/logout">Cerrar sesión</a>
                            </div>
                        </div>
                    <% } else { %>
                        <div>
                            <i class="fa-solid fa-circle-user" style="color: #ffffff;"></i>
                            <a href="/users/login"><p >Mi cuenta</p></a>
                        </div>
                    <% } %>
            </div>

            <!-- carrito mobile -->
            <div class="div-logo-carrito">
                <a href="/users/carrito2">
                    <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                    <%  if(userALoguearse){  %>
                        <div class="numerito-carrito-mobile">0</div>
                    <%  }  %>
                </a>
            </div>

            <!-- carrito desktop -->
            <div class="mi-cuenta">
                <a href="/users/carrito2">
                    <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                    <p>Carrito</p>
                    <%  if(userALoguearse){  %>
                        <div class="numerito-carrito">0</div>
                    <%  }  %>
                </a>
            </div>

            <!-- menu hamburguesa -->
            <div class="div-menu-top">
                <% if(userALoguearse){ %>
                    <a href="/users/perfil/<%= userALoguearse.id %>">
                        <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>
                    </a>
                <% } else { %>
                    <a href="/users/login">
                        <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>
                    </a>
                <% } %>
            </div>
            
        </div>
    </div>

    <script src="/js/carrito.js"></script>
    
    
</header>